<section class="section section--page">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-whole">
        {% comment %}<div class="page-description">
          <h1 class="heading--page" style="text-transform: none">{{ 'blogs.general.heading_recipe_line' | t }}</h1>
          <h2 class="subheading--page-small">
            <em>{{ 'blogs.general.subheading' | t }}</em>
          </h2>
        </div>
        {% if settings.blog_sorting_enable == true %}
          <div id="sorting_toolbar" class="sorting_toolbar">
            
          </div>
        {% endif %}{% endcomment %}
        <div class="blog-container">
          {% paginate blog.articles by 10 %}   
          
            {% for article in blog.articles %}
              {% comment %}
              Check if article is English or BM. We want to display English articles only.
              {% endcomment %}
              {% if article.tags contains 'SukaSucre' %}
                {% comment %}
                Check if article is article with recipe
                {% endcomment %}
                {% assign content_html =  article.content %}
                {% assign article_recipe = false %}

                {% comment %}
                Strip unnecessary html
                {% endcomment %}
                {% include 'strip_html_tags' with content_html %}

                {% if content contains '[ingredients]' or content contains '[directions]'  %}
                  {% assign article_recipe = true %}
                {% endif %}
                <article class="article article--blog">
                  {% if article.title contains "[price:" %}
                    {% assign article_title = article.title | split: "[price:" | first %}
                  {% else %}
                    {% assign article_title = article.title  %}
                  {% endif %}
              
                  <div class="img-holder">
                    {% if article.title == 'Eggplant Sambal with Acetes Shrimp and Roasted Stink-beans' %}
                      {% assign article_img = 'sambal-terung-udang-geragau-petai-bakar.jpg' %}
                    {% elsif article.title == 'Sardine Swirl Curry Puffs' %}
                      {% assign article_img = 'karipap-pusing-sardin.jpg' %}
                    {% elsif article.title == 'Mixed Rendang a la Negeri Sembilan' %}
                      {% assign article_img = 'rendang-campur-negeri-sembilan.jpg' %}
                    {% elsif article.title == 'Grilled Chicken with Green Sambal' %}
                      {% assign article_img = 'ayam-pop-sambal-hijau.jpg' %}
                    {% else %}
                      {% assign article_img = 'daging-salai-lemak-cili-padi.jpg' %}
                    {% endif %}
                    <a href="{{ article.url }}" title="{{ article_title }}">
                      <img class="article__img" src="{{ article_img | asset_url }}" alt="{{ article_title }}">
                    </a>
                  </div>              
                     
                  <h3 class="heading--add article__title">
                    <a href="{{ article.url }}" title="{{ article_title }}">{{ article_title }}</a>
                  </h3>
                  
                  {% comment %}<p class="article__date">
                    <time class="date">{{ article.created_at | date: "%B %-d, %Y" }}</time>
                    <time class="date">{{ 'Buy Meal Kit' | link_to: '/pages/recipes','Buy Meal Kit' }}</time>
                  </p>{% endcomment %}

                  {% for product in collections['dato-fazley-ready-to-cook-meal-kits'].products %}
                    {% assign product_title = product.title | downcase | strip %}
                    {% assign article_title = article.title | downcase | strip %}
                      {% if product_title == article_title %}
                        {% assign product_id = product.id %}
                        {% assign variant_id = product.variants.first.id %}
                        {% break %}
                      {% endif %}
                  {% endfor %}                 
                  
                  <div class="rte article__content">
                    {% comment %}{% if article_recipe == true %}

                      {% if content contains '[ingredients]' %}
                        {% assign first_part = content | split: '[ingredients]' | first %}
                        
                        {% if first_part contains 'Ingredients' %}
                          {% assign f_p_b_ingredients = first_part | split: 'Ingredients' | first %}
                          {% assign f_p_a_ingredients = first_part | split: 'Ingredients' | last %}
                        {% elsif first_part contains 'ingredients' %}
                          {% assign f_p_b_ingredients = first_part | split: 'ingredients' | first %}
                          {% assign f_p_a_ingredients = first_part | split: 'ingredients' | last %}
                        {% else %}
                          {% assign f_p_b_ingredients = first_part %}
                        {% endif %} 


                        {% if f_p_b_ingredients.size > 5 %}
                          {{f_p_b_ingredients}}
                        {% elsif article.excerpt.size > 0 %}
                          {{ article.excerpt }}
                        {% endif %}
                      {% endif %}

                    {% else %}
                      {% if article.excerpt.size > 0 %}
                        {{ article.excerpt }}
                      {% else %}
                        <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
                      {% endif %}
                    {% endif %}{% endcomment %}
                    {{ article.excerpt }}
                  </div>

                  <div class="product__add-cart">
                    <form action="/cart/add" method="POST" id="product-actions-{{ product_id }}">
                      <input type="hidden" name="id" value="{{ variant_id }}">
                      <div class="form__row btn--underlines-container">
                        <input class="btn btn--underlines js-add-to-card" type="submit" value="{{ 'layout.general.add_to_cart_button' | t }}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="61" height="12" viewBox="0 0 61 12">
                          <path d="M60.217,1.433 C45.717,2.825 31.217,4.217 16.717,5.609 C13.227,5.944 8.806,6.200 6.390,5.310 C7.803,4.196 11.676,3.654 15.204,3.216 C28.324,1.587 42.033,-0.069 56.184,0.335 C58.234,0.394 60.964,0.830 60.217,1.433 ZM50.155,5.670 C52.205,5.728 54.936,6.165 54.188,6.767 C39.688,8.160 25.188,9.552 10.688,10.943 C7.198,11.278 2.778,11.535 0.362,10.645 C1.774,9.531 5.647,8.988 9.175,8.551 C22.295,6.922 36.005,5.265 50.155,5.670 Z" class="cls-1"/>
                        </svg>
                      </div>
                    </form>
                  </div> <!-- End product__add-cart -->
                  
                  {% comment %}<p class="article__author">{{ 'blogs.general.by_author' | t }} {{ article.author }}</p>{% endcomment %}
                </article>
                      
                <hr class="hr--clear-inverse">  
              {% endif %}  
            {% endfor %}                             
        
         {% comment %} {% if paginate.pages > 1 %}
            <div class="pagination">
              {% include 'pagination' %}
            </div>  
          {% endif %}{% endcomment %}

        {% endpaginate %}
          </div> <!-- End blog-container -->
        
      </div> <!-- End grid__item -->
    </div> <!-- End grid -->
  </div> <!-- End wrapper -->
</section>