<ul class="social-icons social-icons--inverse">

  {% if settings.social_facebook_link != blank %}
    <li class="social-icons__item">
      <a class="social-icons__link" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank">
        <i class="fa fa-facebook"></i>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>
  {% endif %}

  {% if settings.social_twitter_link != blank %}
    <li class="social-icons__item">
      <a class="social-icons__link" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank">
        <i class="fa fa-twitter"></i>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
  {% endif %}

  {% if settings.social_pinterest_link != blank %}
    <li class="social-icons__item">
      <a class="social-icons__link" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest" target="_blank">
        <i class="fa fa-pinterest"></i>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
  {% endif %}

  {% if settings.social_instagram_link != blank %}
    <li class="social-icons__item">
      <a class="social-icons__link" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram" target="_blank">
        <i class="fa fa-instagram"></i>
        <span class="fallback-text">Instagram</span>
      </a>
    </li>
  {% endif %}

  {% if settings.social_youtube_link != blank %}
    <li class="social-icons__item">
      <a class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube" target="_blank">
        <i class="fa fa-youtube"></i>
        <span class="fallback-text">Youtube</span>
      </a>
    </li>
  {% endif %}

  {% if settings.social_tumblr_link != blank %}
    <li class="social-icons__item">
      <a class="social-icons__link" href="{{ settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr" target="_blank">
        <i class="fa fa-tumblr"></i>
        <span class="fallback-text">Youtube</span>
      </a>
    </li>
  {% endif %}

</ul>