{% assign popular_collections_column_width = 'three' %}
<section>
  <div class="collection-popular-container {{ popular_collections_column_width }} ">
    <div class="collection-popular" style="background: url('{{ '3column_ads-meat.jpg' | asset_url }}') no-repeat; background-size: contain; background-position: center center;">
    	<a href ="/collections/meat" title="Fresh Meats"></a>
    </div>
    {% comment %}
    <div class="collection-popular" style="background: url('{{ '3column_ads-mybif.jpg' | asset_url }}') no-repeat; background-size: contain; background-position: center center;">
    	<a href ="/collections/mybif" title="Premium Beef"></a>
    </div>
    <div class="collection-popular" style="background: url('{{ '3column_ads-truestart.jpg' | asset_url }}') no-repeat; background-size: contain; background-position: center center;">
    	<a href ="/collections/truestart-performance-coffee" title="TrueStart Performance Coffee"></a>
    </div>
    {% endcomment %}
    <div class="collection-popular" style="background: url('{{ '3column_ads-ulam.jpg' | asset_url }}') no-repeat; background-size: contain; background-position: center center;">
        <a href ="/collections/vegetables-ulam/ulam" title="Ulam-ulam"></a>
    </div>
    <div class="collection-popular" style="background: url('{{ '3column_ads-fruits.jpg' | asset_url }}') no-repeat; background-size: contain; background-position: center center;">
        <a href ="/collections/fruits" title="Fresh Fruits"></a>
    </div>
  </div>
</section>