{% comment %}
Reset password form
- https://docs.shopify.com/themes/theme-development/templates/customers-reset-password
{% endcomment %}
{% include 'space-20' %}
<section class="section section--form section--form-small">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="page-description">
          <h1 class="heading--page">{{ 'customer.reset_password.heading' | t }}</h1>
          <h2 class="subheading--page-small">
            <em>{{ 'customer.reset_password.subheading' | t }}</em>
          </h2>
        </div>
        
        {% form 'reset_customer_password', class:"form form--default form--login form-validation" %}
        
          {{ form.errors | default_errors }}
        
          <div class="form__row">
            <input class="form__field" type="password" value="" name="customer[password]" id="resetPassword" placeholder="{{ 'customer.reset_password.password' | t }}">
            <label class="form__field--placeholder" for="resetPassword">{{ 'customer.reset_password.password' | t }}</label>
          </div>
        
          <div class="form__row">
            <input class="form__field" type="password" value="" name="customer[password_confirmation]" id="passwordConfirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            <label class="form__field--placeholder" for="passwordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          </div>
        
          <button class="btn btn--default btn--full btn--submit" type="submit">{{ 'customer.reset_password.reset_password_button' | t }}</button>
        
        {% endform %}
      </div> <!-- End grid__item -->
    </div> <!-- End grid -->
  </div> <!-- End wrapper -->
</section>
{% include 'space-40' %}